.mapContainer {
  position: relative;
  width: 800px;
  height: 600px;
}
.round-btn {
  height: 50px;
  width: 50px;
  line-height: 50px;
  border: none;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: #15aabf;
  text-align: center;
  font-weight: bold;
  outline: none;
  vertical-align: middle;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px#15aabf;
  transition: 0.4s;
}
.round-btn:active {
  -ms-transform: translateY(2px);
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}

#map {
  position: relative;
  width: 800px;
  height: 600px;
}

.legend {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 256px;
  height: 35px;
  font-family: Arial;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 5px;
}

#legendCanvas {
  width: 256px;
  height: 15px;
}

.legend-max {
  float: right;
}

/* .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
*/
.menu {
  visibility: hidden;
  width: 160px;
  position: absolute;
  margin-top: -100%;
  margin-left: 87%;
}
.menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu ul li {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: left;
  padding: 0 10px;
}

.menu ul li:hover {
  background-color: rgba(0, 0, 0);
  color: #fff;
}
button > .menu:active,
button:focus > .menu {
  visibility: visible;
}

.backdrop-container {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-animation: fadeIn 1.2s ease-in-out;
  animation: fadeIn 1.2s ease-in-out;
}

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1;
}

.sidenav-container {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidenav-container a {
  text-decoration: none;
  font-size: 1rem;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin: 10px 0;
}

.sidenav-container a:hover {
  color: #d1c2c2;
}

.sidenav-container .closebtn {
  font-size: 3rem;
  font-weight: 700;
  color: #c9002b;
  padding-right: 1rem;
}

.sidenav-container .drawer-close-button {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 3rem;
}
